<!-- Paper dialog will be displayed on click -->
<paper-dialog transition="core-transition-center" id="emailModal" backdrop closeSelector resizerIsPeer=true>
   <!-- <input type="text" ng-model="myData" /> -->
       <!-- *************************add task top card*************************** -->
        <div class = "todoTask" >   
          <div class="cardHead">Compose: 
          <hr>
          </div>    
          <div class = "cardBody">
            <form horizontal layout >
              <div class="inputGoal">
              <div>
                <paper-input-decorator label="To: " id="taskNameDeco" error="Value must start with a number!">
                   <input id="taskName" ng-model="formdata.mailTo" is="core-input">
                   </paper-input-decorator>
               </div>
                <div>
                <paper-input-decorator label="Subject:" id="taskDescDeco" error="Value must start with a number!">
                   <input id="taskDesc" ng-model="formdata.mailSubject" is="core-input">
                   </paper-input-decorator>
                   <p id="errMsg"></p>
               </div>
              <div>
                <paper-autogrow-textarea label=" " id="a1">
                  <textarea id="t1" ng-model="formdata.mailText"></textarea>
                </paper-autogrow-textarea>
               </div>
                <!-- use local ajax -->
                <div class="buttonAdd">
                <paper-button raised ng-click="addGoals()">Send</paper-button>
                <!-- use firebase connection -->
                 <!-- <button on-click="{{addGoal}}">Add Goal</button> -->
                </div>
               </div>
             </form>
            </div>      
            <div class = "cardFooterAdd" >
             </div>   
        </div>
</paper-dialog>

<!-- Directive called here   -->
<main-modal></main-modal>

<core-drawer-panel transition id="core_drawer_panel" touch-action>
  <section id = "section" drawer>
    <core-menu selected="1" selectedindex="1" id="core_menu"> 
      <core-submenu id="core_submenu" icon="settings" label="Todos">
        <core-item id="core_item1" label="This week" horizontal center layout></core-item>
        <core-item id="core_item2" label="Last week" horizontal center layout></core-item>
       </core-submenu>
      <core-submenu active id="core_submenu1" icon="settings" label="iDid">
        <core-item id="core_item3" label="This year" horizontal center layout></core-item>
        <core-item id="core_item4" label="Last year" horizontal center layout></core-item>
        <core-item id="core_item5" label="Timeline" horizontal center layout></core-item>
       </core-submenu>
     </core-menu>
   </section>
  <section id = "section" main>
    <core-header-panel condenses flex mode="waterfall-tall" id="core_header_panel">
      
      <core-toolbar id="core_toolbar" class="tall">
        <core-icon-button icon="menu" id="core_icon_button" on-tap="{{showDrawer}}" theme="core-light-theme"></core-icon-button>
        <div id="div" flex></div>
        <paper-dropdown-menu label="What is your Goal" relative="" layout="" inline="" horizontal="" center="" tabindex="0">
           <!--  <paper-dropdown class="dropdown core-transition core-closed" tabindex="-1" >
              <core-menu class="menu">
                  <paper-item tabindex="0">Learn</paper-item>
                  <paper-item tabindex="0">Wonder</paper-item>
                  <paper-item tabindex="0">Make Difference</paper-item>
                  <paper-item tabindex="0">Conquer</paper-item>
              </core-menu>
            </paper-dropdown> -->
          
            <!-- geo-location element applied -->
            <div class="userLocation">
              <geo-location watchpos latitude="{{lat}}" longitude="{{longitude}}"></geo-location>
             </div>
        </paper-dropdown-menu>
      </core-toolbar>

      <div class="bottom indent todo">
        <!-- *************************add task top card*************************** -->
        <div class = "todoTask" >   
          <div class="cardHead"></div>    
          <div class = "cardBody">
            <form horizontal layout >
              <div class="inputGoal">
              <div>
                <paper-input-decorator auto-complete floatingLabel label="What is your goal ?" id="taskNameDeco" error="Value must start with a number!">
                   <input id="taskName" ng-model="formdata.goalName" is="core-input">
                   </paper-input-decorator>
               </div>
                <div>
                <paper-input-decorator auto-complete floatingLabel label="write about it .." id="taskDescDeco" error="Value must start with a number!">
                   <input id="taskDesc" ng-model="formdata.goalDesc" is="core-input">
                   </paper-input-decorator>
                   <p id="errMsg"></p>
               </div>
                <!-- use local ajax -->
                <div class="buttonAdd">
                <paper-button raised ng-click="addGoals()">Add Goal</paper-button>
                <!-- use firebase connection -->
                 <!-- <button on-click="{{addGoal}}">Add Goal</button> -->
                </div>
               </div>
             </form>
            </div>      
            <div class = "cardFooterAdd" >
                 <core-icon-button class="room iconbar" icon="room"></core-icon-button>
                 <core-icon-button class="phone iconbar" icon="perm-phone-msg"></core-icon-button>
                 <core-icon-button class="star iconbar" icon="star"></core-icon-button>
                 <core-icon-button class="reply iconbar" icon="reply"></core-icon-button>
             </div>   
        </div>
        <!-- ************************* end of add task top card *************************** -->

        <!-- ***************************Each card for task display******************** -->       
        <ul class="holdTaskul" ng-repeat="view in filtered = views | orderBy:'-created'">      
            <div class = "todoTask" >   
              <div class="cardHead" > 
                <span class="toggleComplete" ng-click="iDid(view._id)">  
                  <bs-switch
                      ng-model="view.isTodo"
                      type="checkbox"
                      switch-active="{{ view.isActive }}"
                      switch-on-text="{{ onText }}"
                      switch-off-text="{{ offText }}"
                      switch-on-color="{{ onColor }}"
                      switch-off-color="{{ offColor }}"
                      switch-animate="{{ animate }}"
                      switch-size="{{ size }}"
                      switch-label="{{ label }}"
                      switch-icon="{{ icon }}"
                      switch-radio-off="{{ radioOff }}"
                      switch-label-width="{{ labelWidth }}"
                      switch-handle-width="{{ handleWidth }}"
                      switch-wrapper="{{ wrapper }}"
                      ng-true-value="'yep'"
                      ng-false-value="'nope'"
                      switch-inverse="{{ inverse }}">
                  </bs-switch>
                </span>
                <span class="taskTitle"><strong>{{view.goalName | capitalize}}</strong></span>
                <span class="arrowDown">
                  <paper-menu-button>
                    <paper-icon-button icon="expand-more">
                    </paper-icon-button>
                    <paper-dropdown layered class="dropdown" halign="right">
                      <core-menu class="menu">
                        <span id="removeTask" ng-click="remove(view._id)"><paper-item>Remove</paper-item></span>
                        <span id="bucketList" ng-click="addToBucketList()"><paper-item>Bucket List</paper-item></span>
                        <span id ="forLater" ng-click="wishList()"><paper-item>Wish List</paper-item></span>
                      </core-menu>
                    </paper-dropdown>
                  </paper-menu-button>
                  </span>
              </div>    
                 
              <paper-progress value="{{view.taskProgress}}" secondaryProgesss="30"></paper-progress>
                  
              <!--  <button on-click="{{opendialog}}">ShowDialog</button> -->
              <div class = "cardBody" >
                <span class="taskDetails" horizontal start-justified layout>
                  {{view.goalDesc}}
                 </span>
              </div>

              <div class = "taskList" >
                   <!--  <ul>
                      <template repeat="{{task in goals[key].tasks}}">
                        <li>{{task.taskItem}}</li>
                       </template>
                     </ul> -->
              </div>

              <div class="map" id="{{view._id}}">
                 <google-map latitude="{{view.latitude}}" longitude="{{view.longitude}}" fitToMarkers>
                     <!--    <google-map-marker latitude="{{view.latitude}}" longitude="{{view.longitude}}}"
                            draggable="true" title="Go Giants!">
                        </google-map-marker> -->
                  </google-map>
              </div>
                 
              <div class = "cardComment" >        
              <div class = "cardFooter">
                  <span>
                      <span ng-click="hideMap(view._id)"><core-icon-button class="room iconbar" icon="room"></core-icon-button></span>
                         <core-icon-button class="phone iconbar" icon="perm-phone-msg"></core-icon-button>
                          <!--<template bind if="{{ view.isFav == true }}">
                            <core-icon-button class="star iconbar isFav" icon="star"></core-icon-button>
                          </template>
                          <template bind if="{{ view.isFav == false}}"> -->
                          <core-icon-button class="star iconbar" on-click="makeFav()" icon="star"></core-icon-button>
                          <!-- </template> -->

                          <form   id =  "uploadForm"
                           enctype   =  "multipart/form-data"
                           action    =  "/api/uploads"
                           method    =  "post">

                            <span class="fileUpload" ng-click="showUpload()">
                                <core-icon-button class="attachment iconbar" type= "input" icon="attachment">
                                  <input type="file" name="userPhoto" class="upload" />
                                </core-icon-button>
                            </span>

                            <span class="fileSubmit">
                                <core-icon-button class="cloud-upload iconbar" id="uploadBtn" icon="cloud-upload">
                                  <input type="submit" class="uploadSubmit" name="submit">
                                </core-icon-button>
                            </span>

                          </form>
                         
                         <core-icon-button class="reply iconbar" icon="reply"></core-icon-button> 
                         <core-icon-button class="note-add iconbar" icon="note-add" on-click="{{opendialog}}"></core-icon-button>
                         <span ng-click="mailModal('ahmed.rumman@y7mail.com','nodemailer.me@gmail.com','This is subject','Hi This is to be an email')">
                         <core-icon-button class="note-add iconbar" icon="mail"></core-icon-button>
                  </span>
              </div>  
        </ul>    
        <!-- *************************** ## End of cards ## ******************** -->  
      </div>  
    </core-header-panel>
   </section>
</core-drawer-panel>   

<!-- <my-element></my-element> -->
