<div ng-include="'components/navbar/navbar.html'"></div>

<!-- Paper dialog of email compose will be displayed on click -->
<paper-dialog transition="core-transition-center" id="emailModal" backdrop closeSelector="[affirmative]" resizerIsPeer=false>
 <!-- <input type="text" ng-model="myData" /> -->
     <!-- *************************add task top card*************************** -->
      <div class = "todoTask" >   
        <div class="emailCardHead">Compose: 
        </div>    
        <div class = "cardBody">
          <form horizontal layout >
            <div>
            <div>
              <paper-input-decorator label="To: " class="inputEmail" id="mailTo" error="Value must start with a number!">
                 <input id="taskName" ng-model="formdata.mailTo" is="core-input">
                 </paper-input-decorator>
             </div>
            <div class="inputEmail">
              <paper-input-decorator label="Subject:" class="inputEmail" id="mailSubject" error="Value must start with a number!">
                 <input id="taskDesc" ng-model="formdata.mailSubject" is="core-input">
                 </paper-input-decorator>
                 <p id="errMsg"></p>
             </div>
            <div>
              <paper-autogrow-textarea label=" " id="a1">
                <textarea class="textAreaClass" id="t1" ng-model="formdata.mailText" placeholder="write short email"></textarea>
              </paper-autogrow-textarea>
             </div>
              <!-- use local ajax -->
              <div class="buttonAdd">
              <paper-button raised affirmative class="emailBtn" ng-click="sendMail()">Send</paper-button>
              <paper-button raised dismissive class="emailDraftBtn" ng-click="saveMail()">Draft</paper-button>
              <!-- use firebase connection -->
               <!-- <button on-click="{{addGoal}}">Add Goal</button> -->
              </div>
             </div>
           </form>
          </div>      
          <div class = "cardFooterAdd" >
           </div>   
      </div>
  </paper-dialog>

<!-- Directive called here   -->
<!-- <main-modal></main-modal> -->

<core-drawer-panel transition id="core_drawer_panel" touch-action>
  <section id= "section1" drawer>
    <core-menu selected="1" selectedindex="1" id="core_menu"> 
      <core-submenu id="core_submenu" icon="settings" label="Todos">
        <core-item id="core_item1" label="This week" horizontal center layout></core-item>
        <core-item id="core_item2" label="Last week" horizontal center layout></core-item>
       </core-submenu>
      <core-submenu active id="core_submenu1" icon="settings" label="iDid">
        <core-item id="core_item3" label="This year" horizontal center layout></core-item>
        <core-item id="core_item4" label="Last year" horizontal center layout></core-item>
        <core-item id="core_item5" label="Timeline" horizontal center layout></core-item>
       </core-submenu>
     </core-menu>
   </section>
  <section id= "section2" main>
    <core-header-panel condenses flex mode="waterfall-tall" id="core_header_panel">

           <!-- geo-location element applied -->
            <div class="userLocation">
              <geo-location watchpos latitude="{{lat}}" longitude="{{longitude}}"></geo-location>
             </div>
      <div class="bottom indent todo">
        <!-- *************************add task top card*************************** -->
        <div class = "addtodoTask" >   
          <div class="cardHead"></div>    
          <div class = "cardBody">
            <form horizontal layout >
              <div class="inputGoal">
              <div>
                <paper-input-decorator auto-complete floatingLabel label="What is your goal ?" id="taskNameDeco" error="Value must start with a number!">
                   <input id="taskName" ng-model="goalformdata.goalName" is="core-input">
                   </paper-input-decorator>
               </div>
                <div> 
                <paper-input-decorator auto-complete floatingLabel label="Write about it .." id="taskDescDeco" error="Value must start with a number!">
                   <input id="taskDesc" ng-model="goalformdata.goalDesc" is="core-input">
                   </paper-input-decorator>
                   <p id="errMsgs"></p>
               </div>
                <!-- use local ajax -->
                <div class="buttonAdd">
                <paper-button raised ng-click="addGoals()">Add Goal</paper-button>
                <!-- use firebase connection -->
                 <!-- <button on-click="{{addGoal}}">Add Goal</button> -->
                </div>
               </div>
             </form>
            </div>      
            <div class = "cardFooterAdd" >
                 <core-icon-button class="room iconbar" icon="room"></core-icon-button>
                 <core-icon-button class="phone iconbar" icon="perm-phone-msg"></core-icon-button>
                 <core-icon-button class="star iconbar" icon="star"></core-icon-button>
                 <core-icon-button class="reply iconbar" icon="reply"></core-icon-button>
             </div>   
         </div>
        <!-- ************************* end of add task top card *************************** -->

        <!-- ***************************Each card for task display******************** -->       
        <ul class = "holdTaskul" ng-repeat="view in filtered = views | orderBy:'-created'">      
          <div class = "todoTask" >   
              <div class = "cardHead" > 
                <span ng-class="{inActive:'{{view.isActive}}'}" ng-click="iDid(view._id)">  
                  <bs-switch
                      ng-model="view.isTodo"
                      type="checkbox"
                      switch-on-text="{{ onText }}"
                      switch-off-text="{{ offText }}"
                      switch-on-color="{{ onColor }}"
                      switch-off-color="{{ offColor }}"
                      switch-animate="{{ animate }}"
                      switch-size="{{ size }}"
                      switch-label="{{ label }}"
                      switch-icon="{{ icon }}"
                      switch-radio-off="{{ radioOff }}"
                      switch-label-width="{{ labelWidth }}"
                      switch-handle-width="{{ handleWidth }}"
                      switch-wrapper="{{ wrapper }}"
                      ng-true-value="'yep'"
                      ng-false-value="'nope'"
                      switch-inverse="{{ inverse }}">
                  </bs-switch>
                </span>
                <span class="taskTitle"><strong>{{view.goalName | capitalize}}</strong></span>
                <span class="arrowDown">
                  <paper-menu-button>
                    <paper-icon-button icon="expand-more">
                    </paper-icon-button>
                    <paper-dropdown layered class="dropdown" halign="right">
                      <core-menu class="menu">
                        <span id="removeTask" ng-click="remove(view._id)"><paper-item>Remove</paper-item></span>
                        <span id="bucketList" ng-click="addToBucketList()"><paper-item>Bucket List</paper-item></span>
                        <span id ="forLater" ng-click="wishList()"><paper-item>Wish List</paper-item></span>
                      </core-menu>
                    </paper-dropdown>
                  </paper-menu-button>
                  </span>
               </div>    
              <paper-progress value="{{view.taskProgress}}" secondaryProgesss="30"></paper-progress>
              <!--  <button on-click="{{opendialog}}">ShowDialog</button> -->
              <div class = "cardBody" >
                <span class="taskDetails" horizontal start-justified layout>
                  {{view.goalDesc}}
                 </span>
               </div>
              <div class = "taskList" >
                 <!--  <ul>
                    <template repeat="{{task in goals[key].tasks}}">
                      <li>{{task.taskItem}}</li>
                     </template>
                   </ul> -->
                 </div>
              <div ng-class="{inActive:'{{view.isActive}}'}" id = "{{view._id}}">
                <google-map latitude="{{view.latitude}}" longitude="{{view.longitude}}" fitToMarkers>
                   <!--    <google-map-marker latitude="{{view.latitude}}" longitude="{{view.longitude}}}"
                          draggable="true" title="Go Giants!">
                      </google-map-marker> -->
                   </google-map>
               </div>
      <div class="container imgBox">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
              <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
              <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
              <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
              <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
              <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
          </div>
        </div>
              <div class = "taskListClass" id="taskListDiv-{{view._id}}">
                  <div ng-class="{inActive:'{{view.isActive}}'}">
                    <paper-input-decorator auto-complete floatingLabel label="Goal specific tasks .. " id="taskNameDeco">
                       <input id="taskName" ng-model="taskformdata.task" is="core-input" required>
                    </paper-input-decorator>
                    <!-- <button ng-click="addTaskItem(view._id)">add task</button> -->
                    <paper-button raised class="addTaskBtn" recenteringTouch='true' fill='true'  ng-click="addTaskItem(view._id)">Add task</paper-button>
                   </div>
                  <div class="list-group disTaskGrp">
                      <a href="#" class="list-group-item active">
                        Things to do ::
                      </a>
                      <ul ng-repeat="task in taskdata track by $index">
                        <div class="funkyradio">
                          <div class="funkyradio-info">
                <input type="checkbox" name="checkbox" id="checkbox{{view._id}}{{$index}}" ng-model="task.task_completed"
                              ng-click="taskDone(task._id)"/>
                              <label for="checkbox{{view._id}}{{$index}}">{{task.task}}
                                <!-- <a href="#" class="list-group-item"></a> -->
                              </label>
                          </div>
                        </div>
                      </ul>
                      </div>
                 </div>
              <div class = "cardComment" >        
              <div class = "cardFooter" >
                <span ng-click = "hideMap(view._id)">
                  <core-icon-button class="room iconbar" icon="room">
                  </core-icon-button>
                 </span>
                <core-icon-button class = "phone iconbar" icon="perm-phone-msg"></core-icon-button>
                  <!--<template bind if="{{ view.isFav == true }}">
                    <core-icon-button class="star iconbar isFav" icon="star"></core-icon-button>
                  </template>
                  <template bind if="{{ view.isFav == false}}"> -->
                <span ng-click = "makeFav(view._id)" >
                  <core-icon-button class="star iconbar" icon="star" ng-class="{starFav:view.isFav}">
                  </core-icon-button>
                 </span>
                <!-- </template> -->

                <form id ="uploadForm" enctype ="multipart/form-data" action ="/api/uploads" method ="post">
                    <span class = "fileUpload" id="fileUpload-{{view._id}}" ng-click="showUpload(view._id)" ng-class="{inActive:'{{view.isActive}}'}">
                      <core-icon-button class="attachment iconbar" type= "input" icon="attachment">
                        <input type="file" name="userPhoto" multiple class="upload" />
                      </core-icon-button>
                     </span>
                    <span class = "fileSubmit" id="fileSubmit-{{view._id}}">
                      <core-icon-button class="cloud-upload iconbar" id="uploadBtn" icon="cloud-upload">
                        <input type="submit" class="uploadSubmit" name="submit">
                      </core-icon-button>
                     </span>
                 </form>
               
                <core-icon-button class = "reply iconbar" icon="reply"></core-icon-button> 
                <span ng-click = "showTask(view._id)">
                  <core-icon-button class="note-add iconbar" icon="note-add"></core-icon-button>
                 </span>
                <span ng-click = "mailModal()" ng-class="{inActive:'{{view.isActive}}'}">
                  <core-icon-button class="note-add iconbar" icon="mail"></core-icon-button>
                 </span>
               </div>  
         </ul>    
        <!-- *************************** ## End of cards ## ******************** -->  
       </div>  
     </core-header-panel>
   </section>
 </core-drawer-panel>   

<!-- <my-element></my-element> -->
