html /deep/ paper-dialog {
  /*border: 1px solid #444;*/
/*  padding: 10px;*/
  padding-bottom: 0px;
  margin-bottom: 0px;
  letter-spacing: 5px;
-webkit-box-shadow: 0px -2px 28px 5px rgba(122,112,122,0.76);
-moz-box-shadow: 0px -2px 28px 5px rgba(122,112,122,0.76);
box-shadow: 0px -2px 28px 5px rgba(122,112,122,0.76);
border-radius: 10px;
}

html /deep/ paper-dialog::shadow #scroller {
    height: 450px;
    width: 300px;
    background-color: #cfbb93;
}

html /deep/ paper-input-decorator.inputEmail {
    /*background-color: red;*/
    width:250px;
 /*   color: red;*/
}

html /deep/ paper-button.emailBtn{
  margin-top: 10px;
  background-color: #4d90fe;
  margin-left: 0px;
  letter-spacing: 0px;
  width: 30px;
  height: 35px;
  font-weight: bold;
}

html /deep/ paper-button.emailDraftBtn{
  margin-top: 10px;
  background-color: #f08969;
  margin-left: 0px;
letter-spacing: 0px;
  width: 30px;
  height: 35px;
  font-weight: bold;
}

html /deep/ paper-autogrow-textarea textarea{
  width: 230px;
  height: 190px;
  padding: 10px;
  outline: none;
  resize:none;
  border-radius: 5px;
  background-color: #d6cfc0;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  /*margin-top: -10px;*/
}
.fileUpload input.upload {
  position: absolute;
  top: -5px;
  left: 7px;
  /* right: 30px; */
  margin: 0;
  padding: 0;
  font-size: 0px;
  cursor: pointer;
   opacity: 0; 
  border: 1px solid red;
  width: 30px;
  height: 29px;
}

.fileSubmit{
  display: none;
}

#uploadForm{
  display: inline;
  width: 0px;
}

.uploadSubmit{
  position: relative;
  font-size: 9px;
  line-height: 0;
  top: -20px;
  right: 0;
  left: -7px;
  margin: 0;
  padding: 0;
   opacity: 0; 
}

google-map {
    height: 150px;
  }
.map{
  /*display: none;*/
}
.inActive{
  opacity: .5;
  pointer-events: none;
}
.thing-form {
    margin: 20px 0;
}
#errMsgs{
  color: #f0ad4e;
  margin-top:0px;
  margin-bottom: 0px; 
}

#banner {
    border-bottom: none;
    /*margin-top: -20px; /*default*/
    margin-top: 0px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #ba9f82;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/**************Polymer custom element css******************/
:host {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        top: 0px;
        left: 0px;
      }
      .todo{
        padding: 6px;
        padding-right: 2px;
        position: relative;
        /*border: 1px dotted #3D444B;*/
        background-color: #e9eaed;
        height: auto;
        margin-bottom: 50px;
        padding-bottom: 100px;
        /*margin-top: 40px;*/
        /*margin-left: 20px;*/
      }
      .todoTask{
        padding: 20px;
        font-size: 16px;
        background-color: #fff;
        box-shadow: 0px 1px 5px #666;
  /*    border-bottom-left-radius: 8px;
        border-top-left-radius: 5px;*/
        margin-left: 14px;
        margin-right: 10px;
       /*border-radius: 9px/40px;*/
       margin-bottom: 13px;
       margin-top:13px;
       /*max-height: 530px;*/
       /*width: 50%*/
      }
      .addtodoTask{
        padding: 20px;
        font-size: 16px;
        background-color: #fff;
        box-shadow: 0px 1px 5px #666;
  /*    border-bottom-left-radius: 8px;
        border-top-left-radius: 5px;*/
        margin-left: 14px;
        margin-right: 10px;
       /*border-radius: 9px/40px;*/
       margin-bottom: 13px;
       margin-top:83px;
       /*max-height: 530px;*/
       /*width: 50%*/
      }
      .taskListDiv{
        margin-top: 10px;
      }
      .disTaskGrp{
        margin-top: 10px;
        padding: 0px;
      }
      .eachTask{
        padding: 0px;
        margin-left: -40px;
        list-style: none;
        display: inline;
        clear: left
      }
      .list-group-item{
        padding: 5px;
        padding-left: 10px;
        margin-left: -2px;
        font-size: 12px;
 /*       margin-left: -40px;
        list-style: none;*/
        /*background-color: red;*/
      }
      
      paper-button[raised].addTaskBtn{
      padding:0px;
      margin: 0px;
      background-color: orangered;
      width: 75px;
      height:30px;
      font-size: 12px;
      }
      #core_drawer_panel {
        position: absolute;
        /*top: 300px;*/
        right: 0px;
        bottom: 0px;
        /*left: 620px;*/
      }
      #section {
        box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
        background-color: rgb(250, 250, 250);
      }
      #section1 {
        height: 100%;
        box-sizing: border-box;
        background-color: rgb(221, 221, 221);
      }
      #section2 {
        /*height: 100%;*/
        /*box-sizing: border-box;*/
        /*min-height: 100%;*/
        /*background-color: red;*/
      }
   
      #sectionInput {
        height: 75px;
        box-sizing: border-box;
        background-color: rgb(221, 221, 221);
      }
      #core_menu_button {
        left: 1130px;
        top: 410px;
      }
      #core_item {
        left: 1040px;
        top: 400px;
      }
      #core_header_panel {
        width: 100%;
        min-height:100% ;
        left: -6px;
        top: -10px;
        position: absolute;
      }
      #core_toolbar {
        /*margin-top: 50px;*/
        color: rgb(241, 241, 241);
        fill: rgb(241, 241, 241);
        background-color: rgb(66, 133, 244);
        padding-top: 13px;
      }
      #div1{
        padding-top: 25px;
        margin-left: 400px;
      }
      #core_icon_button3 {
        left: 18px;
        top: 60px;
        position: absolute;
      }
      #core_menu {
        font-size: 16px;
        left: 12px;
        top: 2px;
        position: absolute;
      }
      .inputGoal {
        position: relative;
    /*    top: 25px;*/
        padding-bottom: 100px;
        margin-bottom: 95px;
        height: 50px;
        width: 100%;
        /* border-bottom: 1px solid #444; */
      }
      .inputGoalDesc {
        left: 59px;
        padding-top: 5px;
        position: absolute;
        top: 14px;
        /*border: 1px solid red;*/
      }
      #core_icon_button4 {
        left: 1110px;
        top: 400px;
      }
      #core_tooltip {
        left: 90px;
        top: 38px;
        position: absolute;
      }

      #paper_button {
        left: -250px;
        top: -182px;
        position: absolute;
      }
      #paper_checkbox {
        left: 140px;
        top: 88px;
        position: absolute;
      }
      #paper_toggle_button {
        /*left: 120px;
        top: 98px;*/
        position: relative;
        /*padding: 20px;*/
        /*border: 2px solid red;*/
      }
       .taskDetails{
        /*margin-right: 30px;*/
  /*      margin-left: 20px;*/
        padding:5px 0px;
        margin-bottom: 2px;
      }
      .taskTitle{
       padding-left: 6px;
       text-align: center;
       top: 10px;
      }
      .iconbar{
        color: #ddd;
      }
   
      .menu{
        color: #444;
      }
      .cardHead{
        /*border-bottom: 1px solid #cdcdcc;*/
        /*padding: 10px;*/
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      .cardBody{
        /*padding: 5px;*/
        font-size: 12px;
        /*letter-spacing: 4px;*/
        color: #444;
        /*padding-right: 2px;*/
        text-align: justify;
      }
      .cardFooter{
        margin-top: 2px;
        /*padding: 10px;*/
        background-color: #f6f7f8;
      }
      .cardFooterAdd{
        margin-top: 29px;
        /*padding: 10px;*/
        background-color: #f6f7f8;
      }
      .room:hover{
        color: #3B78E7;
      }
      .phone:hover{
        color: #609;
      }
      .star:hover{
        color:orange;
      }
      .perm-media:hover{
        color:green;
      }
      .starFav{
       color:orange;   
      }
      .star{
        /*border: 1px solid blue;*/
      }
      .attachment{
        /*border: 1px solid blue;*/
      }
      .cloud-upload{
        /*border: 1px solid blue;*/
        width: 40px;
        padding: 5px;
        height: 40px;
      }
      .attachment:hover{
        color:blue;
        cursor: pointer;
      }
      .reply:hover{
        color:lightblue;
      }
      .note-add:hover{
        color:#3e50b4;
      }
      .mail:hover{
        color: orangered;
      }
      .arrowDown{
        float: right;
        margin-top:-9px; 
      }

      .taskListClass{
        display: none;
      }

      .cardDesc{
 /*       padding-left: 10px;
        padding-right: 10px;*/
        text-align: justify;
      }
  
      #taskDialog{
        /*display: none;*/
      }
      .ctrlHead{
        padding-top: 20px;
        color: #444;
      }
      .isFav{
        color: green;
      }
      .buttonAdd{
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: -5px;
      }
      paper-button{
        background: #4285f4;
      }
      paper-button[raised].colored {
        background: #4285f4;
        color: #fff;
      }

      paper-input-decorator::shadow .input-body{
        width: 100%;
        font-size: 16px;
      }
       paper-input-decorator::shadow #floated-label{
        width: 300px;
      }
      paper-toggle-button::shadow #toggleContainer{
       height: 12px;
       margin-right: 2px;
      margin-left: -12px;
      }
      paper-toggle-button::shadow #toggleButton{
      top: -1px;
      height: 14px;
      width: 15px;
      }
      paper-progress{
        width: 100%;
      }
      .holdTaskul{
        margin-left: -41px;
      }

      paper-item:hover{
        cursor: pointer;
        background-color: orange;
        padding:3px;
      }
      
    
@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') .funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    margin:0px;
    height: 30px;
    padding-left: 0px;
    text-align: left;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    /*line-height: 2.5em;*/
    text-indent: .55em;
    /*margin-top: 2em;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;

    padding: 0px;
    margin-left: -43px;
    list-style: none;
    display: inline;
    clear: left
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
.imgBox{
  margin-top: 20px;
  max-width: 950px;
  display: none;
}
.mapBox{
  /*display: none;*/
}

.img-responsive {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.img-responsive:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}
